/*
div#toc {
  position: sticky;
  top: 85px;
  display: block;
  padding: 0 20px 0 0;
}
*/

.site-header {
  // TODO: always visible.
  display: block; /* avoid empty ruleset for linters */
}

.site-nav {

  // From: https://www.w3schools.com/css/css_navbar.asp
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
  }

  li {
    float: left;
  }

  li a {
    padding: 0 15px;
    display: inline-block;
    color: $text-color;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover > a {
    background-color: $grey-color-light;
  }

  li.dropdown {
    display: inline-block;
  }

  div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Third-level (sub-dropdown) support */
  .sub-dropdown {
    position: relative;
  }

  .sub-dropdown > a {
    display: block;
    padding: 8px 12px;
    color: $text-color;
  }

  .sub-dropdown-content {
    display: none;
    position: absolute;
    left: 100%; /* appear to the right of parent dropdown */
    top: 0;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .sub-dropdown-content a {
    padding: 8px 12px;
    display: block;
    color: black;
    text-decoration: none;
  }

  /* show sub-dropdown on hover (desktop) */
  .sub-dropdown:hover .sub-dropdown-content {
    display: block;
  }

  /* Responsive: on small screens, make dropdowns stack vertically */
  @media (max-width: 800px) {
    .site-nav ul { display: block; }
    .site-nav li { float: none; }
    .dropdown-content, .sub-dropdown-content {
      position: static;
      box-shadow: none;
      min-width: 0;
    }
    .sub-dropdown-content { padding-left: 12px; }
  }
}
